<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Todo</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" type="text/css" href="styles/app.css">
  <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="../bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="../bower_components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="../bower_components/angular-material/angular-material.js"></script>
  <script type="text/javascript" src="scripts/index.js"></script>
  <script type="text/javascript" src="scripts/controllers.js"></script>
  <script type="text/javascript" src="scripts/directives.js"></script>
  <script type="text/javascript" src="scripts/routes.js"></script>
  <script type="text/javascript" src="scripts/services.js"></script>
</head>

<body ng-app="todo" ng-controller="mainControl">
  <md-content>
    <div layout="column">
      <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
          <h3>
            <span>Todo</span>
          </h3>
        </div>
      </md-toolbar>
      <form id="task-form" autocomplete="off" ng-submit="addOneTask()" layout="column">
        <md-input-container>
          <label>New Task</label>
          <input type="text" ng-model="color">
        </md-input-container>
      </form>
      <md-list layout-padding>
        <md-list-item ng-repeat="item in todos">
          <p>
            {{item.text}}
          </p>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </div>
  </md-content>
</body>

</html>
